<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"></meta>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
<link
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
	type="text/css" rel="stylesheet">
<title>Mein Sportplan</title>
</head>
<body>
	<!--Der Header-->
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-success">
			<a class="navbar-brand" href="#"><strong>Mein Sportplan</strong>
				<i class="fa fa-fw fa-bicycle"></i> 
				<i
				class="fa fa-fw fa-child"></i> </a>
		</nav>
	</header>
	<div class="container">
		<h4 class="mt-4">Welche Übungen hast du heute gemacht?</h4>
		<div class="row">
		<!-- Das Eingabeformular - das den /exercise/save-request auslöst -->
			<form method="post" th:object="${exerciseExemplar}" action="/exercise/save">
			<div class="row m-2">
					<label class="col-lg-4">Wochentag:</br>
					<select th:field="*{wochentag}">
					     <option th:value="Montag" th:text="Montag"></option>
					     <option th:value="Dienstag" th:text="Dienstag"></option>
					     <option th:value="Mittwoch" th:text="Mittwoch"></option>
					     <option th:value="Donnerstag" th:text="Donnerstag"></option>
					     <option th:value="Freitag" th:text="Freitag"></option>
					     <option th:value="Samstag" th:text="Samstag"></option>
					     <option th:value="Sonntag" th:text="Sonntag"></option>
					</select>
            		</label>
					<label class="col-lg-4">Übung:
					<input th:type="text" th:field="*{exercise1}" /></label>
				</div>
				<div class="row m-2">
					<label class="col-lg-4">Wiederholungen:
					<input th:type="text" th:field="*{wiederholungen}" /></label>
					<label class="col-lg-4">Dauer (in Sekunden):
					<input th:type="text" th:field="*{dauerInSekunden}" /></label>
					
				</div>
				<div class="row m-2">
					<div class="col-1 offset-3">
						<!-- Führt zum Speichern der Eingabe -->
						<input th:type="submit" value="Speichern"
							class="btn btn-outline-success" />
					</div>
				</div>
			</form>
		</div>
		<!-- Die Übersicht der bisherigen Datenbankeinträge-->
		<h4 class="mt-2 mb-4">Folgende Übungen hast du bereits absolviert:</h4>
		<div class="table-responsive border border-success">
		
			<table class="table">
				<thead>
					<tr>
						<th scope="col">Wochentag</th>
						<th scope="col">Übung</th>
						<th scope="col">Wiederholungen</th>
						<th scope="col">Dauer</th>
					</tr>
				</thead>
				<tbody>
				
					<tr th:each="exercise : ${exercises}">
						<td><span th:text="${exercise.wochentag}"> Wochentag </span></td>
						<td><span th:text="${exercise.exercise1}">
								Übung </span></td>
						<td><span th:text="${exercise.wiederholungen}">
								Wiederholungen </span></td>
						<td><span th:text="${exercise.dauerInSekunden}"> Dauer </span></td>
						
								
						<!-- Delete Button-->
						<td>
						<form action="/exercise/delete" method="post">
						<button th:type="submit" th:name="delete" th:value="${exercise.id}">Delete</button>
						</form>
						</td> 											
					</tr>					
				</tbody>
			</table>			
		</div>
	</div>
	<!-- Placed at the end of the document so the pages load faster -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="../static/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
</body>
</html>